.leave-card {
    background-color:rgba(255, 255, 255,0.7);
    border-radius:13px !important;
    margin-bottom:20px;
}

.leave-card-head {
    background-color:#ffffff;
    border-radius:13px 13px 0 0;
}

.item-list-home {
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin-bottom: 20px;
  }