// #root {
//   height: 100%;
// }

.index-page {
  height: 100%;

  .head {
    display: flex;
    align-items: center;
    padding: 20px 20px 0;
    .title {
      font-weight: bold;
      font-size: 24px;
      margin-left: 20px;
    }
  }
  
  .btn {
    padding: 10px;
    border: 1px solid seagreen;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 16px;
  }
  .welcome {
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
  }
  .desc {
    margin-top: 15px;
    padding-left: 20px;
    font-size: 15px;
  }

  .course-card {
    background-color: rgb(159, 249, 180);
    border-radius: 8px;
    height: 125px;
    padding: 4px;
  }
}


.item-list-home {
  background-color: rgb(255,255,255,0.3);
  border-radius: 7px;
}