.item-list-first {
    background-color: rgb(255,255,255);
    border-radius: 10px 10px 0px 0px;
}

.item-list {
    background-color: rgb(255,255,255);
}

.item-list-reason {
    background-color: rgb(255,255,255);
    height: 80px !important;
}

.item-list-last {
    background-color: rgb(255,255,255);
    border-radius: 0px 0px 10px 10px;
}